{
    "parser": "@typescript-eslint/parser",
    "extends": ["plugin:@typescript-eslint/recommented"],
    "parserOptions": {
        "ecmaVersion": 2016,
        "sourceType": "module"
    },
    "rules": {}
}