<body>
    <link rel="stylesheet" href="/css/sign.css">

    <div class="container">
        <div class="container__form">

            <h1 class="name__header">LEMON</h1>
            <h2 class="sign__header">Sign In</h2>

            <form method="post" action="/auth/login">
                <div class="field">
                    <div class="input__field">
                        <p class="input__label">Username</p>
                        <input name="username" class="input__name"/>
                    </div>
                </div>
                <div class="field">
                    <div class="input__field">
                        <p class="input__label">Password</p>
                        <input name="password" class="input__name" type="password"/>
                    </div>
                </div>
                <div class="errors">
                    <div class="help-block"></div>
                </div>
            
                <div class="btn__container">
                    <input type="submit" value="sign" class="btn__rose"/>
                </div>
                <div class="btn__container">
                    <a href="/auth/signup">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
</body>