.search__panel {
    padding: 17px 33px;
    border-radius: 21px;
    background-color: var(--lilac-color);
}

.search__inner {
    display: flex;
    align-items: center;
}

.search__wrap {
    height: 25px;
    width: calc(100vw - 2 * 20px - 210px - 25px - 25px - 22px);

    display: flex;
    align-items: center;
}

.search {
    font-size: 20px;
    width: 100%;

    cursor: pointer;
}

.close__img {
    position: absolute;
    /* background: url("img/close.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */

    width: 18px;
    height: 18px;

    right: 85px;
    cursor: pointer;
}

.add__img {
    position: absolute;
}

.btn__submit {
    background-color: var(--lilac-color);
    border: 0;
}

.item1 {
    background-color: var(--yellow-color);
    margin: 20px 0px;
}

.item0 {
    margin: 20px 0px;
    background-color: var(--lilac-color);
}

.item:last-child {
    margin-bottom: 0;
}

.item {
    padding: 17px 33px;
    border-radius: 21px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btns {
    display: flex;
}

.img {
    width: 25px;
    height: 25px;

    cursor: pointer;
    margin-left: 22px;
}

.host {
    font-style:normal;
    font-weight:bold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
}

h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
}

/* .btn__search {
    background: url("img/loupe.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

.btn {
    display: block;
    width: 25px;
    height: 25px;

    cursor: pointer;
    margin-left: 22px;
    border: 0;
    /* background:none; */
}

.btn-1 {
    background: url("img/message.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-2 {
    background: url("img/right.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-3 {
    background: url("img/remove.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*--------------------------- FOLLOW ADD -------------------------------*/
.form-container {
    border-radius: 21px;
    background-color: var(--lilac-color);

    padding: 17px 33px;
    margin: 20px 0px;
}

.btn__container {
    margin-left: 30px;
}