<style>
    .navigation__container {
        background-color: var(--lilac-color);
        position: fixed;
        position: sticky;
        position: relative;

        height: calc(100vh - 40px);
        float: left;

        width: 100%;

        margin-right: 25px;
        border-radius: 21px;
        padding: 25px;
    }

    .navigation__item {
        text-decoration: none;
    }

    .navigation__item > a {
        text-decoration: none;
        font-size: 20px;
        color: black;
    }

    .logo {
        font-size: 24px;
        text-decoration: underline;
    }

    .quit {
        font-size: 22px;
    }

    ul {
        list-style: none;
    }

    .navigation__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 70%;
    }

    .visitor {
        height: 25%;
    }
    /* .navigation__container__inner {
        width: 210px;
    } */
</style>
<div class="navigation__container" >

    <ul class="navigation__list">
        <li class="navigation__item logo">LemonTube</li>
        <li class="navigation__item">
            <a href="/video/new">
                <div class="btn-rose btn-font-small">Create</div>
            </a>
        </li>
        <li class="navigation__item"><a href="/">Home</a></li>
        <li class="navigation__item"><a href="/{{user}}/video">Me</a></li>
        <li class="navigation__item"><a href="/{{user}}/followers">Followers</a></li>
        <li class="navigation__item"><a href="/{{user}}/following">Following</a></li>
        <li class="navigation__item"><a href="/{{user}}/liked">Liked</a></li>
        <li class="navigation__item quit"><a href="/auth/logout">Quit</a></li>
    </ul>

    {{!-- <ul class="navigation__list visitor">
        <li class="navigation__item logo">LEMON</li>
        <li class="navigation__item">Sign In</li>
        <li class="navigation__item">Sign Up</li>
    </ul> --}}

</div>