<div class="search__panel">                
    <div class="search__inner">
        <div class="search__wrap">
            <img class="close__img" src="/images/close.png"/>
            <input name="search" id="search" placeholder="Search" class="search"/>
        </div>
        <button class="btn__submit">
            <img class="btn__search img" src="/images/loupe.png"/>
        </button>
    </div>
</div>